<html>
    <body>
            <nav>
                <ul>   
                    <% if (user) { %>
                        <li><a href="/logout">Log out</a></li>
                        <% } else { %>
                        <li><a href="/login">Login</a></li>
                    <% } %>
                </ul>
            </nav>
        <div id="container">
            Welcome to the chatroom
        </div>
        <script src="https://code.jquery.com/jquery-1.10.2.js"></script>
        <script src="/socket.io/socket.io.js"></script>
        <script>
            var socket = io.connect('http://localhost:5000');
            socket.on('connect', (data) => {
                socket.emit('join', "Hello from client");
            });
            </script>
    </body>
</html>