<html>
    <body>
        <nav>
            <ul>
                
                <% if (user) { %>
                    <li><a href="/logout">Log out</a></li>
                    <% } else { %>
                    <li><a href="/login">Login</a></li>
                    <li><a href="auth/google">Login With Google</a></li>
                <% } %>
            </ul>
        </nav>
        <form method='POST' action='/login'>
            <input type='text' name="username" placeholder="username" />
            <input type='password' name="password" placeholder='password' />
            <input type='submit' value='login' />
        </form>
    </body>
</html>