<html>
    <body>
            REGISTER
        <nav>
            <ul>
                <% if (user) { %>
                    <li><a href="/logout">Log out</a></li>
                    <% } else { %>
                    <li><a href="/login">Login With Username</a></li>
                <% } %>
            </ul>
        </nav>
        <form method='POST' action='/register'>
            <input type='text' name="username" placeholder="username" />
            <input type='password' name="password" placeholder='password' />
            <input type='text' name="email" placeholder='email' />
            <input type='submit' value='login' />
        </form>
    </body>
</html>